<% content_for :title, "Editing analises solo" %>

<h1>Editing analises solo</h1>

<%= render "form", analises_solo: @analises_solo %>

<br>

<div>
  <%= link_to "Show this analises solo", @analises_solo %> |
  <%= link_to "Back to analises solos", analises_solos_path %>
</div>
