<% content_for :title, "New analises solo" %>

<h1>New analises solo</h1>

<%= render "form", analises_solo: @analises_solo %>

<br>

<div>
  <%= link_to "Back to analises solos", analises_solos_path %>
</div>
