<% content_for :title, "Editing gleba" %>

<h1>Editing gleba</h1>

<%= render "form", gleba: @gleba %>

<br>

<div>
  <%= link_to "Show this gleba", @gleba %> |
  <%= link_to "Back to glebas", glebas_path %>
</div>
