<% content_for :title, "Editing movimentacao estoque insumo" %>

<h1>Editing movimentacao estoque insumo</h1>

<%= render "form", movimentacao_estoque_insumo: @movimentacao_estoque_insumo %>

<br>

<div>
  <%= link_to "Show this movimentacao estoque insumo", @movimentacao_estoque_insumo %> |
  <%= link_to "Back to movimentacao estoque insumos", movimentacao_estoque_insumos_path %>
</div>
