<% content_for :title, "New movimentacao estoque insumo" %>

<h1>New movimentacao estoque insumo</h1>

<%= render "form", movimentacao_estoque_insumo: @movimentacao_estoque_insumo %>

<br>

<div>
  <%= link_to "Back to movimentacao estoque insumos", movimentacao_estoque_insumos_path %>
</div>
