<% content_for :title, "Editing recomendacoes agricolas iten" %>

<h1>Editing recomendacoes agricolas iten</h1>

<%= render "form", recomendacoes_agricolas_iten: @recomendacoes_agricolas_iten %>

<br>

<div>
  <%= link_to "Show this recomendacoes agricolas iten", @recomendacoes_agricolas_iten %> |
  <%= link_to "Back to recomendacoes agricolas itens", recomendacoes_agricolas_itens_path %>
</div>
