<% content_for :title, "New recomendacoes agricolas iten" %>

<h1>New recomendacoes agricolas iten</h1>

<%= render "form", recomendacoes_agricolas_iten: @recomendacoes_agricolas_iten %>

<br>

<div>
  <%= link_to "Back to recomendacoes agricolas itens", recomendacoes_agricolas_itens_path %>
</div>
