<% content_for :title, "Editing analises solo resultado" %>

<h1>Editing analises solo resultado</h1>

<%= render "form", analises_solo_resultado: @analises_solo_resultado %>

<br>

<div>
  <%= link_to "Show this analises solo resultado", @analises_solo_resultado %> |
  <%= link_to "Back to analises solo resultados", analises_solo_resultados_path %>
</div>
