<% content_for :title, "New analises solo resultado" %>

<h1>New analises solo resultado</h1>

<%= render "form", analises_solo_resultado: @analises_solo_resultado %>

<br>

<div>
  <%= link_to "Back to analises solo resultados", analises_solo_resultados_path %>
</div>
