<div id="<%= dom_id principios_ativo %>">
  <div>
    <strong>Descricao:</strong>
    <%= principios_ativo.descricao %>
  </div>

  <div>
    <strong>Ativo:</strong>
    <%= principios_ativo.ativo %>
  </div>

</div>
