<% content_for :title, "Editing principios ativo" %>

<h1>Editing principios ativo</h1>

<%= render "form", principios_ativo: @principios_ativo %>

<br>

<div>
  <%= link_to "Show this principios ativo", @principios_ativo %> |
  <%= link_to "Back to principios ativos", principios_ativos_path %>
</div>
