<% content_for :title, "New principios ativo" %>

<h1>New principios ativo</h1>

<%= render "form", principios_ativo: @principios_ativo %>

<br>

<div>
  <%= link_to "Back to principios ativos", principios_ativos_path %>
</div>
