<div id="<%= dom_id atividade_safra %>">
  <div>
    <strong>Atividade:</strong>
    <%= atividade_safra.atividade_id %>
  </div>

  <div>
    <strong>Safra:</strong>
    <%= atividade_safra.safra_id %>
  </div>

  <div>
    <strong>Propriedade:</strong>
    <%= atividade_safra.propriedade_id %>
  </div>

</div>
