<% content_for :title, "Editing atividade safra" %>

<h1>Editing atividade safra</h1>

<%= render "form", atividade_safra: @atividade_safra %>

<br>

<div>
  <%= link_to "Show this atividade safra", @atividade_safra %> |
  <%= link_to "Back to atividade safras", atividade_safras_path %>
</div>
