<% content_for :title, "New atividade safra" %>

<h1>New atividade safra</h1>

<%= render "form", atividade_safra: @atividade_safra %>

<br>

<div>
  <%= link_to "Back to atividade safras", atividade_safras_path %>
</div>
