<% content_for :title, "Editing aplicaoes insumo" %>

<h1>Editing aplicaoes insumo</h1>

<%= render "form", aplicaoes_insumo: @aplicaoes_insumo %>

<br>

<div>
  <%= link_to "Show this aplicaoes insumo", @aplicaoes_insumo %> |
  <%= link_to "Back to aplicaoes insumos", aplicaoes_insumos_path %>
</div>
