<% content_for :title, "New aplicaoes insumo" %>

<h1>New aplicaoes insumo</h1>

<%= render "form", aplicaoes_insumo: @aplicaoes_insumo %>

<br>

<div>
  <%= link_to "Back to aplicaoes insumos", aplicaoes_insumos_path %>
</div>
