<% content_for :title, "Editing talho" %>

<h1>Editing talho</h1>

<%= render "form", talho: @talho %>

<br>

<div>
  <%= link_to "Show this talho", @talho %> |
  <%= link_to "Back to talhos", talhos_path %>
</div>
