<% content_for :title, "Editing ajuste estoque" %>

<h1>Editing ajuste estoque</h1>

<%= render "form", ajuste_estoque: @ajuste_estoque %>

<br>

<div>
  <%= link_to "Show this ajuste estoque", @ajuste_estoque %> |
  <%= link_to "Back to ajuste estoques", ajuste_estoques_path %>
</div>
