<% content_for :title, "New ajuste estoque" %>

<h1>New ajuste estoque</h1>

<%= render "form", ajuste_estoque: @ajuste_estoque %>

<br>

<div>
  <%= link_to "Back to ajuste estoques", ajuste_estoques_path %>
</div>
