<div id="<%= dom_id atividade %>">
  <div>
    <strong>Descricao:</strong>
    <%= atividade.descricao %>
  </div>

  <div>
    <strong>Cor:</strong>
    <%= atividade.cor %>
  </div>

  <div>
    <strong>Ativo:</strong>
    <%= atividade.ativo %>
  </div>

</div>
