<% content_for :title, "New unidades medida" %>

<h1>New unidades medida</h1>

<%= render "form", unidades_medida: @unidades_medida %>

<br>

<div>
  <%= link_to "Back to unidades medidas", unidades_medidas_path %>
</div>
