<div id="<%= dom_id atividade_gleba %>">
  <div>
    <strong>Gleba:</strong>
    <%= atividade_gleba.gleba_id %>
  </div>

  <div>
    <strong>Atividade safra:</strong>
    <%= atividade_gleba.atividade_safra_id %>
  </div>

</div>
