<% content_for :title, "Editing atividade gleba" %>

<h1>Editing atividade gleba</h1>

<%= render "form", atividade_gleba: @atividade_gleba %>

<br>

<div>
  <%= link_to "Show this atividade gleba", @atividade_gleba %> |
  <%= link_to "Back to atividade glebas", atividade_glebas_path %>
</div>
