<% content_for :title, "New atividade gleba" %>

<h1>New atividade gleba</h1>

<%= render "form", atividade_gleba: @atividade_gleba %>

<br>

<div>
  <%= link_to "Back to atividade glebas", atividade_glebas_path %>
</div>
