<% content_for :title, "Editing aplicacoes itens insumo" %>

<h1>Editing aplicacoes itens insumo</h1>

<%= render "form", aplicacoes_itens_insumo: @aplicacoes_itens_insumo %>

<br>

<div>
  <%= link_to "Show this aplicacoes itens insumo", @aplicacoes_itens_insumo %> |
  <%= link_to "Back to aplicacoes itens insumos", aplicacoes_itens_insumos_path %>
</div>
