<% content_for :title, "New aplicacoes itens insumo" %>

<h1>New aplicacoes itens insumo</h1>

<%= render "form", aplicacoes_itens_insumo: @aplicacoes_itens_insumo %>

<br>

<div>
  <%= link_to "Back to aplicacoes itens insumos", aplicacoes_itens_insumos_path %>
</div>
