<div id="<%= dom_id propriedade %>">
  <div>
    <strong>Descricao:</strong>
    <%= propriedade.descricao %>
  </div>

  <div>
    <strong>Hectare:</strong>
    <%= propriedade.hectare %>
  </div>

  <div>
    <strong>Cidade:</strong>
    <%= propriedade.cidade_id %>
  </div>

</div>
