<div id="<%= dom_id safra %>">
  <div>
    <strong>Descricao:</strong>
    <%= safra.descricao %>
  </div>

  <div>
    <strong>Data inicio:</strong>
    <%= safra.data_inicio %>
  </div>

  <div>
    <strong>Data final:</strong>
    <%= safra.data_final %>
  </div>

</div>
