<% content_for :title, "Editing safra" %>

<h1>Editing safra</h1>

<%= render "form", safra: @safra %>

<br>

<div>
  <%= link_to "Show this safra", @safra %> |
  <%= link_to "Back to safras", safras_path %>
</div>
