<div id="<%= dom_id parametros_metrica %>">
  <div>
    <strong>Tipo:</strong>
    <%= parametros_metrica.tipo %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= parametros_metrica.descricao %>
  </div>

</div>
