<% content_for :title, "Editing parametros metrica" %>

<h1>Editing parametros metrica</h1>

<%= render "form", parametros_metrica: @parametros_metrica %>

<br>

<div>
  <%= link_to "Show this parametros metrica", @parametros_metrica %> |
  <%= link_to "Back to parametros metricas", parametros_metricas_path %>
</div>
