<% content_for :title, "New parametros metrica" %>

<h1>New parametros metrica</h1>

<%= render "form", parametros_metrica: @parametros_metrica %>

<br>

<div>
  <%= link_to "Back to parametros metricas", parametros_metricas_path %>
</div>
