<% content_for :title, "Editing maquina" %>

<h1>Editing maquina</h1>

<%= render "form", maquina: @maquina %>

<br>

<div>
  <%= link_to "Show this maquina", @maquina %> |
  <%= link_to "Back to maquinas", maquinas_path %>
</div>
