<p style="color: green"><%= notice %></p>

<% content_for :title, "Maquinas" %>

<h1>Maquinas</h1>

<div id="maquinas">
  <% @maquinas.each do |maquina| %>
    <%= render maquina %>
    <p>
      <%= link_to "Show this maquina", maquina %>
    </p>
  <% end %>
</div>

<%= link_to "New maquina", new_maquina_path %>
