<% content_for :title, "Editing fichamento" %>

<h1>Editing fichamento</h1>

<%= render "form", fichamento: @fichamento %>

<br>

<div>
  <%= link_to "Show this fichamento", @fichamento %> |
  <%= link_to "Back to fichamentos", fichamentos_path %>
</div>
