<p style="color: green"><%= notice %></p>

<% content_for :title, "Fichamentos" %>

<h1>Fichamentos</h1>

<div id="fichamentos">
  <% @fichamentos.each do |fichamento| %>
    <%= render fichamento %>
    <p>
      <%= link_to "Show this fichamento", fichamento %>
    </p>
  <% end %>
</div>

<%= link_to "New fichamento", new_fichamento_path %>
