<% content_for :title, "Editing recomendacoes agricola" %>

<h1>Editing recomendacoes agricola</h1>

<%= render "form", recomendacoes_agricola: @recomendacoes_agricola %>

<br>

<div>
  <%= link_to "Show this recomendacoes agricola", @recomendacoes_agricola %> |
  <%= link_to "Back to recomendacoes agricolas", recomendacoes_agricolas_path %>
</div>
