<% content_for :title, "New recomendacoes agricola" %>

<h1>New recomendacoes agricola</h1>

<%= render "form", recomendacoes_agricola: @recomendacoes_agricola %>

<br>

<div>
  <%= link_to "Back to recomendacoes agricolas", recomendacoes_agricolas_path %>
</div>
