<div id="<%= dom_id estado %>">
  <div>
    <strong>Descricao:</strong>
    <%= estado.descricao %>
  </div>

  <div>
    <strong>Codigo ibge:</strong>
    <%= estado.codigo_ibge %>
  </div>

  <div>
    <strong>Sigla:</strong>
    <%= estado.sigla %>
  </div>

</div>
