<% content_for :title, "Editing alises solo" %>

<h1>Editing alises solo</h1>

<%= render "form", alises_solo: @alises_solo %>

<br>

<div>
  <%= link_to "Show this alises solo", @alises_solo %> |
  <%= link_to "Back to alises solos", alises_solos_path %>
</div>
