<% content_for :title, "Editing gleba ponto" %>

<h1>Editing gleba ponto</h1>

<%= render "form", gleba_ponto: @gleba_ponto %>

<br>

<div>
  <%= link_to "Show this gleba ponto", @gleba_ponto %> |
  <%= link_to "Back to gleba pontos", gleba_pontos_path %>
</div>
