<div id="<%= dom_id nutriente %>">
  <div>
    <strong>Descricao:</strong>
    <%= nutriente.descricao %>
  </div>

  <div>
    <strong>Sigla:</strong>
    <%= nutriente.sigla %>
  </div>

  <div>
    <strong>Unidade:</strong>
    <%= nutriente.unidade %>
  </div>

</div>
