<% content_for :title, "Editing nutriente" %>

<h1>Editing nutriente</h1>

<%= render "form", nutriente: @nutriente %>

<br>

<div>
  <%= link_to "Show this nutriente", @nutriente %> |
  <%= link_to "Back to nutrientes", nutrientes_path %>
</div>
