<div id="<%= dom_id principios_ativos_nutriente %>">
  <div>
    <strong>Principio ativos:</strong>
    <%= principios_ativos_nutriente.principio_ativos_id %>
  </div>

  <div>
    <strong>Nutriente:</strong>
    <%= principios_ativos_nutriente.nutriente_id %>
  </div>

  <div>
    <strong>Percentual:</strong>
    <%= principios_ativos_nutriente.percentual %>
  </div>

</div>
