<% content_for :title, "Editing principios ativos nutriente" %>

<h1>Editing principios ativos nutriente</h1>

<%= render "form", principios_ativos_nutriente: @principios_ativos_nutriente %>

<br>

<div>
  <%= link_to "Show this principios ativos nutriente", @principios_ativos_nutriente %> |
  <%= link_to "Back to principios ativos nutrientes", principios_ativos_nutrientes_path %>
</div>
