<% content_for :title, "New principios ativos nutriente" %>

<h1>New principios ativos nutriente</h1>

<%= render "form", principios_ativos_nutriente: @principios_ativos_nutriente %>

<br>

<div>
  <%= link_to "Back to principios ativos nutrientes", principios_ativos_nutrientes_path %>
</div>
